<h1>Scrabble Score Calculator</h1>

<p>Give us your scrabble word and we'll tell you the score!</p>

<form action='/score' method='get'>
  <div class="form-group">
    <label for="word">Scrabble Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">What's the score?</button>
</form>
