<h1>Scrabble Score Calculator</h1>

<p>Give us your scrabble word and we'll tell you the score!</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="year">A name</label>
    <input id="year" name="year" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">What's the score?</button>
</form>
